.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

:root {
    --grey-background: #E2E8F0;
    --blue-admin: #1992D4;
    --banana-yellow: #F0B429;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Roboto", sans-serif;
 
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: minmax(174.39px, 1fr) 4fr;
}

a {
    text-decoration: none;
    color: inherit;
}

button:hover {
    cursor: pointer;
}

/* Header */
.header {
    background-color: white;
    padding: 20px 30px;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    box-shadow: 0px 10px 10px 0 rgba(0,0,0, 0.2);
    position: relative;
}

.header .search-bar {
    display: grid;
    grid-template-columns: 1fr 20fr;
    align-items: center;
    padding-right: 2vw;

}

.header .search-bar img {
    width: 30px;
    height: auto;
}

.header .search-bar input{
   height: 60%;
   border-radius: 20px;
   border: none;
   padding-left: 20px;
   font-size: large;
   background-color: var(--grey-background);
}

.header .search-bar input:focus {
    outline: none;
    filter: brightness(95%);
}

.header .user-info {
    justify-self: right;

    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    text-wrap: nowrap;
}

.header .user-info a:last-child {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    align-items: center;
    font-size: large;
    font-weight: bold;
}

.header .user-info a:last-child img {
    max-width: 50px;
    min-width: 40px;
}

.header .user-info a:first-child img {
    justify-items: right;

}


.header .user-info img {
    width: 100%;
    max-width: 25px;
    height: auto;
}

.header .left {
    display: grid;
    grid-template-columns: 1fr 12fr;
    align-items: center;
}

.header .right {
    align-self: center;
    justify-self: right;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
    justify-content: right;
}

.header .right button {
    color: white;
    background-color: var(--blue-admin);
    font-weight: bold;
    font-size: medium;
    width: 100%;
    height: 50%;
    border-radius: 30px;
    border: none;

    
}

.header .right button:hover {
    filter: brightness(110%);
}

.header .left img {
    width: 100%;
    max-width: 70px;
    min-width: 60px;
    height: auto;

}


/* Main */
.main {
    background-color: var(--grey-background);
    padding: 2vh 2vw 5vh 1vw;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 4fr minmax(205px, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
}

.main-heading-margin {
    margin-bottom: 1vh;
}
.main h1 {
    font-weight: bold;
    font-size: x-large;
}

.main .projects {
    display: grid;  
    grid-template-rows: min-content;
}

.main p {
    color: rgb(97, 97, 97);
}

.main .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(300px, 40%), 1fr));
    grid-template-rows: repeat(3, min(205px));
    gap: 30px;
    overflow: visible;
}

.main .cards .card {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    padding: 2.5vh 1vw;
    border-radius: 5px;
    border-left: solid 7px var(--banana-yellow);
    overflow: hidden;
    text-overflow: clip;
    box-shadow: 0px 10px 30px 0 rgba(0,0,0, 0.2);

}


.main .cards .card:hover {
  filter: brightness(95%);
}

.main .cards .symbols {
    align-self: end;
    display: grid;
    grid-template-columns: repeat(3, min(30px));
    gap: 1vw;
    width: 100%;
    height: auto;
    justify-content: end;
}

.main .cards .symbols img:hover, .header .user-info a:first-child:hover {
    transform: scale(1.2);
}

.main .right {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4vh;
}

.main .right h2 {
    font-size: medium;
}

.main .content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-height: 35vh;
    box-shadow: 0px 10px 30px 0 rgba(0,0,0, 0.2);
}

.main .annoucements .content {
 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 3vh;
    
}


.main .annoucements .content p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}



.main .trending {
    display: grid;
    grid-template-rows: 1fr 7fr;
}

.main .trending .content {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.main .trending .content > * {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 10px;
}

.main .trending .content img {
    width: 100%;
    max-width: 45px;
    height: auto;
    border-radius: 50%;
}

/* Sidebar */
.sidebar {
    background-color: var(--blue-admin);
    grid-row: 1/-1;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 10fr;
    padding-top: 20px;
    color: white;
    padding-left: 20px;
}

.filter-white {
    filter: invert(100%) sepia(1%) saturate(3%) hue-rotate(307deg) brightness(102%) contrast(100%);
}

.sidebar a {
    display: grid;
    height: 100%;
    align-items: center;
    color: white;
    padding-left: 5px;
    
}

.sidebar a:hover{
    background-color: rgba(0, 0, 0, 0.233);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.sidebar .logo {
  font-size: x-large;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 6fr;
  align-items: center;
}


.sidebar img {
    width: 100%;
    max-width: 40px;
    min-width: 30px;
    height: auto;
}

.sidebar .options {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr;
    font-size: large;
    font-weight: bold;
}

.sidebar .options > * {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, 5vh);
}

.sidebar .options img {
    width: 100%;
    height: auto;
    max-width: 25px;
    fill: white;
}

.user-options a, .system-options a {
    display: grid;
    grid-template-columns: 1fr 6fr;
    /* align-items: center; */
}

